body {
  padding: 0;
  margin: 0;
}

#container {
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  align-items: center;
  background-color: #3e3c3c;
  height: 48px;
  margin: 0;
  padding: 0 8%;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.name {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
}

nav button {
  margin-left: auto;
  background-color: #ff6a0000;
  border-radius: 5px;
  border: none;
  padding: 7px;
}

nav button:hover {
  background-color: #ca5400af;
}

.section-1 {
  display: flex;
  flex-direction: column;
  background-color: #1c1a19;
  min-height: 100vh;
  justify-content: center;
  padding: 0 7%;
  background-image: url('./media/Illustration-header.svg');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: bottom right;
}

header {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  padding: 0;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #fff5e1;
  padding: 0;
}

.section-1 p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  padding: 0;
}

.social-media {
  display: flex;
  gap: 2.5%;
}

.social-media a {
  background-color: #ff6a0000;
  border-radius: 5px;
  padding: 4px 7px;
}

.social-media a:hover {
  background-color: #ca5400af;
  border-radius: 5px;
  padding: 4px 7px;
}